h1 {
  font-family: 'sirenia', sans-serif;
  font-size: 43pt;
  font-weight: bolder;
  color: #505050;
}

h2 {
  font-family: 'sirenia', sans-serif;
  font-size: 28pt;
  font-weight: bold;
}

h3 {
  font-family: 'sirenia', sans-serif;
  font-size: 23pt;
  font-weight: bolder;
}

p {
  font-family: 'sirenia';
  font-size: 16pt;
  font-weight: normal;
  line-height: 22pt;
  color: #505050;
  text-align: center;
}
p2 {
  font-family: 'sirenia';
  font-size: 16pt;
  font-weight: normal;
  line-height: 22pt;
  color: #505050;
  display: flex;
  justify-content: space-between;
  text-align: left;
  color: blue;
}
p3 {
  font-family: 'sirenia';
  font-size: 16pt;
  font-weight: normal;
  line-height: 22pt;
  color: #505050;
  display: flex;
  justify-content: space-between;
  text-align: right;
}

body {
  font: 16pt rubik;
  text-align: left;
  color: #505050;
}

.button {
  margin: auto;
  border-radius: 16px;
  width: 30vw;
  height: 4vh;
  background-color: #505050;
  color: white;
  font: 12pt 'sirenia';
  position: relative;
}

.button:hover {
  background-color: #505050;
  color: white
}

.button:active {
  background-color: #2d2d2d;
  color: white;
  transform: translateY(4px);
}

.button:disabled {
  background-color: #232323;
  color: white;
  opacity: 0.6;
  cursor: not-allowed;
}

.button2 {
  background-color: #2d2d2d;
  color: black;
}

.button3 {
  margin: auto;
  position: relative;
  border-radius: 16px;
  width: 80vw;
  height: 6vh;
  background-color: #505050;
  color: white;
}

.button4 {
  background-color: white;
  color: #505050;
  border-color: #505050;
  box-shadow: 5px 5px 10px 2px #505050;
  cursor: not-allowed;
  transform: none;
  width: 16vw;
  height: 8vh;
}

.button5 {
  background-color: lightgray;
  border-radius: 50%;
  border: none;
  width: 20px;
  height: 20px;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

@keyframes fade-in-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.3;
  }
}

.fade-in-out {
  animation: 1.5s alternate forwards infinite fade-in-out;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
  padding: 20px;
}

.grid-item {
  padding: 6px 1px 1px 1px;
  font-size: 3px;
  text-align: center;
}